*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    padding: 10px 50px;
    color: blue;
}
b{
    color: red;
}
.card{
    text-align: center;
    width: 60%;
    margin: 20px auto;
}
td{
    padding: 10px;
    border: 1px solid;
}